.Picture{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    margin-left: 18px;
    margin-top: 18px;
    stroke: #E6E8E9;
    stroke-width: 4px;
    background-color: #FFFFFF;
}

img{
    height: 46px;
    width: 46px;
    padding: 5px;
    border-radius: 50%;
    stroke: #FFFFFF;
    stroke-width: 1px;
}